body{

    font-family: sans-serif;
    margin: 0;

}

header{

    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    
    
}
.nav-link{

    font-weight: 600;
    padding-right: 10px;
    display: flex;

}

.nav-link:hover{

    color: red;
}
.logo{

    display: flex;
    align-items:center;
}
.logo img{

    height: 60px;
    margin-right: 10px;
}

.d-item {

    height: 700px;
}
.d-img {
    height: 100%;
    object-fit: cover;
}
.boton-info{

    width: 250px;
    background-color: red;
    border-radius: 12px;
    border-color: black;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    
}
a{
    text-decoration: none;
    color: black;
}
